<a href="https://colab.research.google.com/github/VanessaTrajano/ListasCodiAtt/blob/main/scr/attlistascodi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **AULA 8**

1) Crie uma lista que armazene todo o seu nome, uma palavra em cada posição e mostre-a na tela.

In [ ]:
nome = ["v","a","n","e","s","s","a"]
print(nome)

['v', 'a', 'n', 'e', 's', 's', 'a']

2) Crie uma lista que armazena os números de 1 a 10 e mostre-a na tela.

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Aula 9

1) Crie uma lista que armazene todo o seu nome, uma palavra em cada posição e mostre o primeiro e o último nome em prints diferentes na tela.

In [ ]:
nome = ["Vanessa", "Palmeira", "Kelmer", "Trajano"]

print(nome[0])
print(nome[-1])

Vanessa
Trajano

2) Crie uma lista com os estados: MG, RJ, SP.

a) Troque o estado RJ  por RS e mostre a nova lista na tela.

b) Mostre na tela o tamanho da lista.

c) Mostre na tela o último estado presenta na lista.

In [ ]:
estados = ["MG","RJ","SP"]
print(estados)

#a
estados[1] = "RS"
print(estados)

#b
print(len(estados))

#c
print(estados[-1])

['MG', 'RJ', 'SP']
['MG', 'RS', 'SP']
3
SP

# Aula 10

1) Crie uma lista “estados” que armazene os 27 Estados Brasileiros.

a) Crie uma lista “norte” que armazena apenas os estados da região Norte presentes na lista “estados”.

b) Crie uma lista “nordeste” que armazena apenas os estados da região Nordeste presentes na lista “estados”.

c) Crie uma lista “centrooeste” que armazena apenas os estados da região Nordeste presentes na lista “estados”.

d) Crie uma lista “sudeste” que armazena apenas os estados da região Nordeste presentes na lista “estados”.

e) Crie uma lista “sul” que armazena apenas os estados da região Nordeste presentes na lista “estados”.

Organize as novas listas exibindo seus elementos na tela seguido do nome da região.

In [ ]:
estados = ["AC","RO","AM","RR","PA","AP","TO","MT","GO","MS","MA","PI","BA","CE","RN","PE","PB","AL","SE","MG","SP","RJ","ES","PR","SC","RS"]
print(estados)

#a
norte = estados[0:7]
print(norte)

#b
nordeste = estados[10:19]
print(nordeste)

#c
centrooeste = estados[7:10]
print(centrooeste)

#d
sudeste = estados[19:23]
print(sudeste)

#e
sul = estados[23:26]
print(sul)

['AC', 'RO', 'AM', 'RR', 'PA', 'AP', 'TO', 'MT', 'GO', 'MS', 'MA', 'PI', 'BA', 'CE', 'RN', 'PE', 'PB', 'AL', 'SE', 'MG', 'SP', 'RJ', 'ES', 'PR', 'SC', 'RS']
['AC', 'RO', 'AM', 'RR', 'PA', 'AP', 'TO']
['MA', 'PI', 'BA', 'CE', 'RN', 'PE', 'PB', 'AL', 'SE']
['MT', 'GO', 'MS']
['MG', 'SP', 'RJ', 'ES']
['PR', 'SC', 'RS']

# Aula 11

1) Crie uma lista “nomes” com os nomes: “Claudio”, “Julio” e “Tamara”.

a) Adicione o nome “Sheila”.

b) Remova o nome “Julio”.

c) Adicione o nome “Cardoso” na segunda posição.

In [ ]:
nomes = ["Claudio", "Julio", "Tamara"]
print(nomes)

#a
nomes.append("Sheila")
print(nomes)

#b
nomes.remove("Julio")
print(nomes)

#c
nomes.insert(1, "Cardoso")
print(nomes)

['Claudio', 'Julio', 'Tamara']
['Claudio', 'Julio', 'Tamara', 'Sheila']
['Claudio', 'Tamara', 'Sheila']
['Claudio', 'Cardoso', 'Tamara', 'Sheila']

2) Crie uma lista que contém o seu primeiro nome.

a) Adicione nela o seu último nome.

b) Adicione nela o(s) seu(s) nome(s) do meio, um a um.

Exemplo: Claudio > Claudio Santos > Claudio Marco dos Santos.

In [ ]:
nome = ["Vanessa"]
print(nome)

#a
nome.append("Trajano")
print(nome)

#b
nome.insert(1, "Palmeira")
nome.insert(2, "Kelmer")
print(nome)

['Vanessa']
['Vanessa', 'Trajano']
['Vanessa', 'Palmeira', 'Kelmer', 'Trajano']